@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto");
/*
font-family: 'Roboto', sans-serif;
font-family: 'Righteous', cursive;
*/
html {
    background-color: #202124;
}
body {
    background-color: #202124;
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
}
